

body{
    background-color:white;
    background-size:cover;
    height: 593px;
    overflow-x: hidden;

}

.admin_liga{
    background: url("imagenes/Abstracto_minimalista-Vector_Art_Design_HD_WallpaperPapel pintado_1920x1200[10wallpaper.com].jpg");
    background-size:cover;
    background-position: 0px -60px;
}

.canchass{
    background: url("imagenes/Abstracto_minimalista-Vector_Art_Design_HD_WallpaperPapel pintado_1920x1200[10wallpaper.com].jpg");
    background-size:cover;
    background-position: 0px -60px;
    height: 593px;
    overflow-x: hidden;
}

.logo{
    width: 230px;
    height:60px;
}
.balon{
    left:40%;
    top:50px;
    align-items: center;
    position: absolute;
    opacity: 0.7;

}

.escudo{
    margin-left:315px;
    margin-right:315px;
    width: 10%;
    height: 10%;
    margin-top:300px;
    margin-bottom:195px;
    align-items: center;
    position: absolute;
    opacity: 0.7;

}

.b{
    width: 300px;
    height: 300px;
}

.rectangulo{
    width: 1533px;
    height: 60px;
    background-color: #fff;
    margin-top: -8px;
    margin-left: -7px;
    margin-right: 0px;
    border:0px solid;
    border-color: #707070;
    position: absolute;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.2);

}

.linea_izquierda{
    background-color: #FF0000;
    border-radius: 10px;
    height: 15px;
    width: 200px;
    top: 380px;
    left:210px;
    position: absolute;
}

.linea_derecha{
    background-color: #FF0000;
    border-radius: 10px;
    height: 15px;
    width: 200px;
    top: 380px;
    left:1090px;
    position: absolute;
}

.cuadrado{
    width: 1100px;
    height: 500px;
    background-color: #fff;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    align-content: center;
    position: absolute;
}

.cuadrado_completo{
    width: 1400px;
    height: 1000px;
    background-color: #fff;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 50px;
    border-radius: 43px;
    left:2%;
    align-content: center;
    position: absolute;
}

.cuadrado_ingreso{
    width: 700px;
    height: 550px;
    background-color: #fff;
    margin-top: 50px;
    margin-left: 369px;
    margin-right: 369px;
    border-radius: 43px;
    left:2%;
    align-content: center;
    position: absolute;
}

.cuadrado_solicitud{
    width: 1100px;
    height: 1550px;
    background-color: #fff;
    margin-top: 50px;
    margin-left: 201.2px;
    margin-right: 201.2px;
    border-radius: 43px;
    align-content: center;
    position: absolute;
}

.candado{
    margin-top:182px;
    margin-left:510px;
    margin-right:155px;
    width: 5%;
    height:6%;
    position: absolute;
}

.rojo{
    background-color:red;
    position: absolute;
    margin-left: 385px;
    margin-right: 245px;
    width: 70px;
    height:550px;
    opacity: 0.5;
    border: 0px solid;
}

.verde{
    background-color:green;
    margin-left: 245px;
    margin-right: 385px;
    width: 70px;
    height:550px;
    opacity: 0.5;
    position: absolute;
    border: 0px solid;
}

.blanco{
    background-color:white;
    position: absolute;
    margin-left: 315px;
    margin-right: 315px;
    width: 70px;
    height:550px;
    opacity: 0.5;
    border: 0px solid;
}


.texto{
    text-align: center;
    font-family: Tw Cen MT,serif;
    font-size: 77px;
    font-weight: bold;
    color: #223CE4;
    padding-top: 100px;
    text-shadow: 0px 3px 6px #E79747;
}

.bienvenido{
    text-align: center;
    font-family: Tw Cen MT,serif;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    padding-top: 20px;
    padding-right: 233.72px;
    padding-left: 233.72px;
    position: absolute;

}




label{
    font-size:17px;
    display:block;
    font:17px normal normal uppercase;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#FFF;
}

h1{
    font:40px normal normal uppercase;
    font-family:Impact, Charcoal, sans-serif;
}



.entrar{
    border-radius:31px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:139px;
    margin-top: 340px;
    width:422px;
    padding:14px;
    border: 1px solid #000;
    position:absolute;
    outline: none;
    background:#000;
    color:#FFF;
    font-size:25px;
    text-align: center;
    font-family: Tw Cen MT,serif;

}

.usuario{
    border-radius:31px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:139px;
    margin-top: 120px;
    width:400px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}
.password{
    border-radius:31px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:139px;
    margin-top: 190px;
    width:400px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
}

::-webkit-input-placeholder{
    font-family: Tw Cen MT,serif;
    font-size: 25px;

}

.recuperar{
    margin-bottom:20px;
    margin-top: 240px;
    margin-left: 145px;
    height: 20px;
    border-radius:25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;

    position: absolute;
}


textarea{
    resize:vertical;
    max-height:300px;
    min-height:100px;
    border-radius:15px;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:10px;
    width:90%;
    padding:10px;
    border: 1px solid #9B5700;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}





.linea
{
    position: relative;
    background:#2EE71B;
    margin-left:40px;
    margin-right:40px;
    color:#000;
    width:80%;
    border:0px;

}

.btt{
    position:relative;
    background:#2EE71B;
    margin-left:115px;
    margin-right:115px;
    color:#000;
    width:50%;
    border:0px;
}

.c {
    margin-bottom:20px;
    margin-right:430px;
    margin-top: 50px;
    margin-left:430px;
    width:200px;
    border-radius:25px;
    background-color: #fff;
    border-style: solid;
    border-color: #0A6316;
    border-width: 1px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:34px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-shadow: 0px 3px 6px #C6C6C6;
    position: absolute;
    box-shadow: 0px 3px 2px #000;
}

.ingreso {
    margin-bottom: 20px;
    margin-top: 8px;
    margin-left: 1140px;
    width: 90px;
    height: 20px;
    border-radius: 25px;
    background-color: rgba(198,198,198,0.39);

    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 20px normal normal uppercase;
    font-family: Tw Cen MT, serif;
    text-shadow: 0px 3px 6px #C6C6C6;
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}


.ingreso:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.solicitud {
    margin-bottom:20px;
    margin-top: 8px;
    margin-left:700px;
    width:320px;
    height: 20px;
    border-radius:25px;
    background-color: #fff;
    border-style: solid;
    border-color: #0A6316;
    border-width: 1px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-shadow: 0px 3px 6px #C6C6C6;
    position: absolute;
}

.c:hover {
    background-color: #96F59D;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.ingreso:hover {
    box-shadow: 0px 3px 6px rgba(12,38,9,0.2);
}

.solicitud:hover {
    background-color: #96F59D;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.liga{
    width: 300px;
    height: 280px;
    top:300px;
    left: 200px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.2);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.liga:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}


.solicitud_liga{
    width: 300px;
    height: 280px;
    top:300px;
    left: 601.2px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.2);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.solicitud_liga:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}


.creacion_liga{
    width: 300px;
    height: 280px;
    top:300px;
    left: 1000px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.2);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.creacion_liga:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}


.im{
    width: 260px;
    height: 185px;
    position:  absolute;
    object-fit: cover;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.im_e{
    width: 76%;
    position:  absolute;
    object-fit: cover;
    margin-left: 30px;
    margin-top: -15px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.im_ede{
    width: 260px;
    height: 185px;
    position:  absolute;
    object-fit: cover;
    background-color: #d1f4f7;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.im_c{
    width: 70%;
    margin-left: 40px;
    position:  absolute;
    object-fit: cover;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}
.im_cac{
    width: 260px;
    height: 185px;
    position:  absolute;
    object-fit: cover;
    background-color: #d1f4f7;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.im_p{
    width: 70%;
    position:  absolute;
    object-fit: cover;
    margin-left: 40px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.im_pap{
    width: 260px;
    height: 185px;
    position:  absolute;
    object-fit: cover;
    background-color: #d1f4f7;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.im_sas{
    width: 260px;
    height: 185px;
    position:  absolute;
    object-fit: cover;
    background-color: #d1f4f7;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}
.im_s{
    width: 80%;
    position:  absolute;
    object-fit: cover;
    margin-left: 30px;
    margin-top: -10px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.ima{
    width: 80%;
    position:  absolute;
    margin-top: -10px;
    margin-left: 27px;
    margin-right: 60px;
    object-fit: cover;
}
.ima_dad{
    width: 260px;
    height: 185px;
    position:  absolute;
    object-fit: cover;
    background-color: #d1f4f7;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
}

.txt{
    position:  absolute;
    margin-left: 26px;
    margin-right:26px;
    margin-top: 200px;
    font:60px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
}

.txt1{
    position:  absolute;
    margin-left: 89px;
    margin-right:89px;
    margin-top: 200px;
    font:60px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
}

.saludo{
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    position: absolute;
    font:45px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    font-weight: bold;
    color: #0b6f56 ;

    width: 600px;
}

.saludo_subliga{
    margin-top:0px;
    margin-left:25px;
    margin-right:0px;
    position: absolute;
    width:max-content;
    font:45px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    font-weight: bold;
    color: #0b6f56 ;

}

.perfil{
    width: 50px;
    height: 50px;
    border-radius:30px;
    position: absolute;
    background-color: white;
    border:1px solid;
    margin-left: 1460px;
    top:4px;
    cursor:pointer;
}

#slidebar{
    top:54px;
    left: 1600px;
    width: 400px;
    height:660px;
    background-color: rgba(255,255,255,1);
    position: absolute;
    transition: all 200ms linear;
    border-bottom-left-radius: 31px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);


}
#slidebar.active{
    left:1140px;
}

.salir{
    position: absolute;
    margin-top: 575px;
    width: 400px;
    height: 45px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(253,19,49,0.82);
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:45px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    border-bottom-left-radius: 31px;

}
.salir:hover{
    background-color: #fff;
    color:black;
}

.opciones{
    width:980px;
    height: 280px;
    border-radius: 31px;
    background-color: rgba(214,250,257,0.4);
    margin-top: 465px;
    margin-left: 269.6px;
    margin-right: 269.6px;
    position: absolute;
}
.opciones_1{
    width:650px;
    height: 280px;
    border-radius: 31px;
    background-color: rgba(214,250,257,0.4);
    margin-top: 120px;
    margin-left: 434.6px;
    margin-right: 434.6px;
    position: absolute;
}

.capa{
    position:absolute;
    padding: 0px;
    margin-left:-10px;
    margin-top: 51px;
    width: 1610px;
    height: 92.5vh;

    background: rgba(0,0,0,0.5);
}

.ad_liga{
    position: absolute;
    width: 610px;
    height:50px;
    margin-top: -3px;
    margin-left: 825px;
    margin-right: 259.8px;
    border-radius: 31px;
    background-color: rgba(183,199,185,0.4);
}

.ad_subliga {
    position: absolute;
    width:700px;
    height:50px;
    margin-top: -3px;
    margin-left: 410px;
    margin-right: 259.8px;
    border-radius: 31px;
    background-color: rgba(183,199,185,0.4);
}
.begin{
    position: absolute;
    margin-top: 500px;
    width: 400px;
    height: 30px;
    margin-left: 0px;
    margin-right: 75px;
    background-color: #6accb7;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:40px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    border-radius: 0px;
    border:0px solid;
    color:black;

}

.begin:hover{
    background-color: #b3fff7;
}

.subliga{
    position: absolute;
    margin-top: 275px;
    width: 400px;
    height: 30px;
    margin-left: 0px;
    margin-right: 75px;
    background-color: #ccffec;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:40px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    border-radius: 0px;
    color:black;

}

.subliga:hover{
    background-color: #b3fff7;
}


.canchas{
    width: 260px;
    height: 250px;
    margin-top:15px;
    margin-left: 30px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.canchas:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}


.tabla_posiciones{
    width: 260px;
    height: 250px;
    margin-top:15px;
    margin-left: 360px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.tabla_posiciones:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}


.partidos{
    width: 260px;
    height: 250px;
    margin-top:15px;
    margin-left: 30px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.partidos:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}

.equipos{
    width: 260px;
    height: 250px;
    margin-top:15px;
    margin-left: 690px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.equipos:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}

.solicitudes{
    width: 260px;
    height: 250px;
    margin-top:15px;
    margin-left: 360px;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
    position: absolute;
    border-radius: 31px;
    background-color: #ffffff;
}

.solicitudes:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,1);
}

.txt2{
    position:  absolute;
    width: 260px;
    margin-top: 185px;
    height: 65px;
    border-radius: 31px;
    font:50px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
}

.numero{
    width: 50px;
    height: 50px;
    margin-left: 220px;
    margin-top: -5px;
    position: absolute;
    background-color: #c1253b;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
}
.num{
    margin-top: 10px;
    font:30px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.numero:hover{
    box-shadow: 0px 3px 6px rgba(12,38,9,1);
}

.editar{
    position: absolute;
    margin-top: 350px;
    width: 400px;
    height: 30px;
    margin-left: 0px;
    margin-right: 75px;
    background-color: #aef1e1;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:40px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    border-radius: 0px;
    color:black;
}
.editar:hover{
    background-color: #b3fff7;
}

.pagos{
    position: absolute;
    margin-top: 425px;
    width: 400px;
    height: 30px;
    margin-left: 0px;
    margin-right: 75px;
    background-color: #8ee0d1;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:40px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    border-radius: 0px;
    color:black;

}

.pagos:hover{
    background-color: #b3fff7;
}

.informacion{
    width:1200px;
    height: 600px;
    position: absolute;
    border-radius: 31px;
    margin-top:100px;
    margin-left:151.2px;
    margin-right:151.2px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);

}
*.tit{
    font:40px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    position: absolute;
    margin-top: 15px;
    margin-left: 200px;

}


.foto{
    width: 200px;
    height: 200px;
    border-radius:50%;
    position: absolute;
    background-color: white;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}


.fotoPerfil{
    width: 50px;
    height: 50px;
    border-radius:30px;border-radius:30px;
}

.fp{
    width: 200px;
    height: 200px;
    border-radius:50%;

}

.box{
    margin-left: 350px;
    margin-top: 100px;
    width: 800px;
    height: 520px;
    background-color:rgba(193,201,212,1) ;
    border-radius: 31px;
    margin-bottom: 50px;
    position: relative;

}

.box_inf{
    width: 800px;
    height: 420px;
    background-color:rgba(193,201,212,0.9) ;
    border-radius: 31px;
    margin-bottom: 50px;
    position: absolute;
    overflow-y: auto;
}


::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background:#fff;
    display: none;
}

::-webkit-scrollbar-thumb{
    background:#000;
    border-radius: 4px;

}

::-webkit-scrollbar-track{
    display: none;
    background:#fff;
    border-radius: 4px;
}

.can{
    width: 700px;
    height: 100px;
    background-color: #FFF;
    border: 1px solid #fff;
    border-radius: 21px;
    outline: none;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
    cursor:pointer;
    margin-bottom: 20px;
    float: next;

}

.can:hover{
    box-shadow: 0px 3px 6px rgba(12,38,9,1);
}

.boton_crear_cancha{
    position: absolute;
    margin-top: 430px;
    margin-left: 700px;
    margin-bottom: 20px;
}

.crear_cancha{
    width: 70px;
    height: 70px;
    background-color: #FFF;
    border-radius: 50%;
    cursor:pointer;
    border:1px solid #FFF;
    font:40px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    outline: none;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);

}
.crear_cancha:hover{
    box-shadow: 0px 3px 6px rgba(12,38,9,1);
}

.mas{
    margin-left: -7px;
    margin-top: -1.5px;
    width: 70px;
    height: 70px;

}


.img_cancha{
    width:100px;
    height:100px;
    margin-top: -50px;
    margin-left: -350px;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
    position: absolute;

}
.n_cancha{
    position: absolute;
    margin-top: -40px;
    margin-left: 120px;
    font:70px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
}

.box_cancha{
    text-align: center;
}
.infor{
    position: absolute;
    width: 800px;
    height: 520px;
    background-color:rgba(168,255,214,1) ;
    border-radius: 31px;
    margin-left: 350px;
    margin-top: -570px;
    display: none;

}

.cap{
    position: absolute;
    padding: 0px;
    margin-top: -637px;
    margin-left: -20px;
    width: 1610px;
    height: 730px;
    cursor:pointer;
    background: rgba(0,0,0,0.5);
}


.x{
    position:absolute;
    width: 30px;
    height: 30px;
    margin-left: 758px;
    margin-top: 5px;
}



.form_cancha{
    position: absolute;
    width: 800px;
    height: 520px;
    background-color:rgba(168,255,214,1) ;
    border-radius: 31px;
    margin-left: 350px;
    margin-top: -570px;
    display: none;
}

.form_subliga{
    position: absolute;
    width: 800px;
    height: 520px;
    background-color: #c6c6c6;
    border-radius: 31px;
    margin-left: 350px;
    margin-top: -570px;
    display: none;
}

.delete_cancha{
    position:absolute;
    margin-top: 350px;
    margin-left: 420px;
    width: 350px;
    height: 50px;
    background-color: #e4606d;
    border-radius: 10px;
    cursor:pointer;
    border:0px solid #FFF;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    outline: none;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
}
.delete_cancha:hover{
    box-shadow: 0px 3px 6px rgba(12,38,9,1);
}

.update_cancha{
    position:absolute;
    margin-top: 290px;
    margin-left:420px;
    width: 350px;
    height: 50px;
    background-color: #FFF;
    border-radius: 10px;
    cursor:pointer;
    border:1px solid #FFF;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    outline: none;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
}
.update_cancha:hover{
    box-shadow: 0px 3px 6px rgba(12,38,9,1);
}

.idCancha{
    display: none;
    position: absolute;
}

.nombreCancha{
    border-radius:15px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 60px;
    width:300px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}

.lbel_nombre{
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;
    color:#000;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.direccionCancha{
    border-radius:15px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 110px;
    width:300px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}
.lbel_direccion{
    position: absolute;
    margin-top: 80px;
    margin-left: 40px;
    color:#000;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}
.CiudadCancha{
    border-radius:15px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 230px;
    width:300px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}
.lbel_ciudad{
    position: absolute;
    margin-top: 200px;
    margin-left: 40px;
    color:#000;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}
.capacidadCancha{
    border-radius:15px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 350px;
    width:300px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}
.lbel_capacidad{
    position: absolute;
    margin-top: 320px;
    margin-left: 40px;
    color:#000;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.fotoCancha{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 420px;
    margin-top: 50px;
    border-radius: 30px;
    cursor:pointer;
}

.canchaPicture{
    position: absolute;
    width: 350px;
    height: 300px;
    border-radius: 30px;
}



.NameCancha{
    border-radius:20px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 80px;
    width:320px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}

.Capacidad{
    border-radius:20px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 140px;
    width:320px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}

.Ubicacion{
    border-radius:20px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 200px;
    width:320px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}

.Ciudad{
    border-radius:20px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:40px;
    margin-top: 260px;
    width:320px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}



.agregarCancha{
    position:absolute;
    margin-top: 375px;
    margin-left: 595px;
    width: 180px;
    height: 50px;
    background-color: #1058cb;
    border-radius: 15px;
    cursor:pointer;
    border:0px solid #FFF;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    outline: none;
    color:white;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
}

.agregarCancha:hover{
    box-shadow: 0px 3px 6px rgba(12,38,9,0.2);
    background-color: #FFF;
    color:black;
}

.PictureCancha{
    position: absolute;
    margin-top: 340px;
    margin-left: 40px;
    font:15px normal normal uppercase;
    font-family: Tw Cen MT,serif;

}

.lbel{
    position: absolute;
    margin-top: 310px;
    margin-left: 40px;
    color:#000;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.subir{
    margin-top: 70px;
    margin-left: 60px;
    border: 1px solid;
    padding: 5px;
    width: 300px;
    height: 300px;
    background: lightyellow;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
}

.mostrar{
    margin-top: 70px;
    margin-left: 30px;
    border: 1px solid;
    padding: 5px;
    width: 300px;
    height: 300px;
    left:400px;
    background: lightyellow;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
}

.actualizar{
    top:400px;
    position: absolute;
    margin-left: 50px;
    width: 100px;
    height:50px;
    background-color: #96F59D;
    border: 0px solid;
    border-radius: 10px;
}


.act_foto{
    width: 800px;
    height:520px;
    position:absolute;
    background-color:#fff;
    border: 1px solid;
    border-radius: 31px;
    margin-top: -570px;
    margin-left: 350px;
}
.nomb_ca{
    position: absolute;
    margin-left: -150px;
    display:none;
}

.tittle_cancha{
    position: absolute;
    font:110px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    margin-top: -160px;
    margin-left: 550px;
    font-weight: bold;
    color: #075b4e;

}

.boton_reingreso{
    position: absolute;
    margin-top: 10px;
    margin-left: 190px;
    width: 380px;
    height: 40px;
    background-color: #004cff;
    border: 0px solid;
    border-radius:10px;
    font:30px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    color: #fff;
    font-weight: bold;
    outline: none;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
}

.boton_reingreso:hover{
    box-shadow: 0px 3px 6px rgba(12,38,9,1);
    background-color: #004cff;
}

.dias{
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    position: absolute;
    color:black;
    margin-left: 30px;
    margin-top: -30px;
}

.cb{
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-top: -1px;
    margin-bottom: 10px;

}

.dias_semana{
    font:22px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    margin-bottom: 20px;

}

.cb:checked{
    color: #0c5460;
}


input[type="checkbox"]:checked{

}

.opciones_dias{
    position: absolute;
    margin-top: 0px;
    margin-left: 430px;
    width: 400px;
    height: 400px;

}


.NameSubliga{
    border-radius:10px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:60px;
    margin-top: 50px;
    width:310px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}

.FechaInicio{
    border-radius:10px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:60px;
    margin-top: 140px;
    width:310px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}

.FechaFin{
    border-radius:10px;
    margin-bottom:20px;
    margin-right:139px;
    margin-left:60px;
    margin-top: 220px;
    width:310px;
    height: 30px;
    padding:10px;
    padding-top: 15px;
    border: 1px solid #707070;
    position:absolute;
    outline: none;
    font-family: Tw Cen MT,serif;

}

.agregarSubliga{
    position:absolute;
    margin-top: 390px;
    margin-left: 0px;
    width: 800px;
    height: 80px;
    background-color: #0059a5;
    color:#fff;
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;
    cursor:pointer;
    border:0px solid #FFF;
    font:35px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    text-align: center;
    outline: none;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.5);
}
.agregarSubliga:hover{
    background-color: #FFF;
    box-shadow: 0px 3px 6px rgba(12,38,9,0.8);
    color:#000;
}

.horario{
    position: absolute;
    margin-left: 160px;
    margin-top: 290px;
    width: 500px;
    height: 60px;
}

.horario_1{
    position: absolute;
    margin-left: 330px;
    margin-top: 290px;
    width: 500px;
    height: 60px;
}

.lbel_h1{

    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 100px;
    color:#000;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.lbel_h2{
    position: absolute;
    margin-top: -22px;
    margin-bottom: 3px;
    margin-left: 270px;
    color:#000;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.lbel_f1{
    position: absolute;
    margin-top: 110px;
    margin-bottom: 3px;
    margin-left: 60px;
    color:#000;
    font:21px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.lbel_f2{
    position: absolute;
    margin-top:190px;
    margin-bottom: 3px;
    margin-left: 60px;
    color:#000;
    font:21px normal normal uppercase;
    font-family: Tw Cen MT,serif;
}

.inicio{
    position: absolute;
    margin-left: 100px;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    border:0px solid;
    border-radius: 2px;
}

.fin{
    position: absolute;
    margin-left: 270px;
    margin-top: 0px;
    font:20px normal normal uppercase;
    font-family: Tw Cen MT,serif;
    border:0px solid;
    border-radius: 2px;
}